/codeclan_pda_tasks/
/week_03/weekend_homework/
/week_06/day_02/
/week_07/day_03/
/week_07/weekend_homework
/week_07/weekend_homework_heroku_app
/week_11/day_01
/week_08/day_01
.DS_Store
/week_12/day_03
/week_12/weekend_homework/weekend_homework_solution
